<ion-grid style="background:#ffffff">
    <ion-row>
        <ion-col>
            <ion-item-divider class="list">
                <ion-label class="classTitreSection">
                    Informations
                </ion-label>
            </ion-item-divider>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <!-- <ion-item lines="none">
                    <p>{{date}}</p>
                </ion-item> -->
            <ion-item lines="none">
                <ion-icon slot="start" src="../../../assets/icon/icon-type-plat.svg" class="iconFiche"></ion-icon>
                <ion-select class="form-control" id="poste" placeholder="Poste" [(ngModel)]="newPoste" name="poste"
                    interface="popover">
                    <ion-select-option *ngFor="let poste of postes" [value]="poste.nom">{{poste.nom}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size="6">
            <!-- <ion-item lines="none">
                    <p>{{userNom}} {{prenom}}</p>
                </ion-item> -->
            <ion-item lines="none">
                <ion-icon slot="start" src="../../../assets/icon/icon-ref.svg" class="iconFiche"></ion-icon>
                <ion-select class="form-control" id="produitRef" placeholder="Produit de référence"
                    [(ngModel)]="newProduitRef" name="produitRef" interface="popover" (click)="refSelect()">
                    <ion-select-option *ngFor="let denree of denrees" [value]="denree">{{denree.produit}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
<hr>
<ion-grid style="background:#ffffff">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-row>
                    <ion-col style="padding: 0; padding-bottom: 10px;">
                        <ion-item-divider class="list" (click)="showDenrees()">
                            <ion-label class="classTitreSection">
                                Denrées
                            </ion-label>
                            <ion-icon slot="end" [name]="chevronDenreesOn"></ion-icon>
                        </ion-item-divider>
                    </ion-col>
                </ion-row>
                <div [hidden]="denreesDisabled">
                    <ion-grid [hidden]="tableau1">
                        <ion-row>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Nature
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Unité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Quantité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="secondary" class="iconFiche" (click)="addProduit()"
                                    name="add-circle-outline">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let denree of denrees; let i = index">
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.produit}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.unite}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.quantite}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="secondary" class="iconFiche" (click)="deleteProduit(denree)" name="trash">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid [hidden]="tableau2">
                        <ion-row>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Quantité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Unité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classTitreDenreeTableau">
                                    Nature
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="secondary" class="iconFiche" (click)="addProduit()"
                                    name="add-circle-outline">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let denree of denrees; let i = index">
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.quantite}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.unite}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label class="classDenreeTableau">
                                    {{denree.produit}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="secondary" class="iconFiche" (click)="deleteProduit(denree)" name="trash">
                                </ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<hr>
<ion-grid>
    <ion-row>
        <ion-col>
            <ion-item-divider class="list">
                <ion-label class="classTitreSection" color="trensparent">
                    Description technique
                </ion-label>
            </ion-item-divider>
            <ion-item lines="none" color="transparent">
                <ion-textarea wrap="hard" id="DescriptionTechnique" class="descTexteCss"
                    placeholder="Ecris les details techniques, le dressage, tes notes..." rows="8"
                    [(ngModel)]="newDescriptionTechniques">
                </ion-textarea>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-toolbar>
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="addNewFiche()">
                <ion-icon src="../../../assets/icon/icon-arrow-forward.svg" class="iconFiche" color="white"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-toolbar>