<div id="container">
    <strong>{{titre}}</strong>
</div>

<ion-content>
    <ion-toolbar>

        <ion-searchbar #input animated="true" color="primary" placeholder="Rechercher" type="text" debounce="500" [(ngModel)]="ficheRecherche" (keyup)="getItems($event)"></ion-searchbar>

        <!-- <ion-searchbar animated color="primary" placeholder="Recherché" type="text" debounce="500"
      (ionChange)="getItems($event)"></ion-searchbar> -->
        <ion-list *ngIf="isItemAvailable">
            <ion-item *ngFor="let fiche of ficheTechniquesAll">
                <ion-icon slot="start" name="reader-outline" (click)="openFiche(fiche)"></ion-icon>
                <ion-label class="text" (click)="openFiche(fiche)">
                    <h2>{{fiche.nom}}</h2>
                    <p> {{fiche.livre}}</p>
                </ion-label>
                <ion-icon slot="end" name="ellipsis-vertical-outline" (click)="openPopover($event, fiche)"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-content>