<ion-grid style="background:#ffffff">
    <ion-row>
        <ion-col size="6">
            <ion-list>
                <ion-item lines="none">
                    <p>{{date}}</p>
                </ion-item>
                <ion-select class="form-control" id="poste" placeholder="Poste" [(ngModel)]="newPoste" name="poste" interface="popover">
                    <ion-select-option *ngFor="let poste of postes" [value]="poste.nom">{{poste.nom}}</ion-select-option>
                </ion-select>
            </ion-list>
        </ion-col>
        <ion-col size="6">
            <ion-list>
                <ion-item lines="none">
                    <p>{{userNom}} {{prenom}}</p>
                </ion-item>
                <ion-select class="form-control" id="produitRef" placeholder="Produit de référence" [(ngModel)]="newProduitRef" name="produitRef" interface="popover" (click)="refSelect()">
                    <ion-select-option *ngFor="let denree of denrees" [value]="denree">{{denree.produit}}
                    </ion-select-option>
                </ion-select>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<hr>
<ion-grid style="background:#ffffff">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item-divider class="list" (click)="showDenrees()">
                    <ion-label>
                        Denrées
                    </ion-label>
                    <ion-icon slot="end" [name]="chevronDenreesOn"></ion-icon>
                </ion-item-divider>
                <div [hidden]="denreesDisabled">
                    <ion-grid [hidden]="tableau1">
                        <ion-row>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Nature
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Unité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Quantité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="primary" size="small" (click)="addProduit()" name="add-circle-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let denree of denrees; let i = index">
                            <ion-col class="ion-text-center">{{denree.produit}}</ion-col>
                            <ion-col class="ion-text-center"> {{denree.unite}}</ion-col>
                            <ion-col class="ion-text-center"> {{denree.quantite}}</ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="primary" size="small" name="trash-outline" (click)="deleteProduit(denree)"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid [hidden]="tableau2">
                        <ion-row>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Quantité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Unité
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-label size="large">
                                    Nature
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="primary" size="small" (click)="addProduit()" name="add-circle-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let denree of denrees; let i = index ">
                            <ion-col class="ion-text-center"> {{denree.quantite}}</ion-col>
                            <ion-col class="ion-text-center"> {{denree.unite}}</ion-col>
                            <ion-col class="ion-text-center">{{denree.produit}}</ion-col>
                            <ion-col class="ion-text-center">
                                <ion-icon color="primary" size="small" name="trash-outline" (click)="deleteProduit(i)"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
<hr>
<ion-grid>
    <ion-item lines="none" color="transparent">
        <ion-textarea id="DescriptionTechnique" placeholder="Déscription technique" rows="12" [(ngModel)]="newDescriptionTechniques">
        </ion-textarea>
    </ion-item>
</ion-grid>

<ion-grid class="ion-footer">
    <ion-button (click)="addNewFiche()">Valider la création de la fiche</ion-button>
</ion-grid>