<ion-list>
    <ion-item lines="none">
        <ion-icon class="marRW10" src="../../../assets/icon/icon-homepage.svg" style="color: brown;" ></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-share.svg" style="color: brown;" ></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-folder.svg" style="--color: blue;" ></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-workxp.svg" style="color: brown;" ></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-like.svg" style="color: brown;" ></ion-icon>
    </ion-item>
</ion-list>

<app-folder></app-folder>