<ion-list>
    <ion-item lines="none">
        <ion-icon class="marRW10" src="../../../assets/icon/icon-homepage.svg" style="color: brown;" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-share.svg" style="color: brown;" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-folder.svg" style="--color: blue;" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-workxp.svg" style="color: brown;" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/icon-like.svg" style="color: brown;" (click)="openFiche(fichePlat)"></ion-icon>

        <!-- 
        <ion-icon class="marRW10" src="../../../assets/icon/Options.svg" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/cart-outline.svg" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/Folder.svg" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/briefcase-outline.svg" (click)="openFiche(fichePlat)"></ion-icon>
        <ion-icon class="marRW10" src="../../../assets/icon/chatbubbles-outline.svg" (click)="openFiche(fichePlat)"></ion-icon> -->
    </ion-item>
</ion-list>

<app-folder *ngIf="folder"></app-folder>