<ion-header class="BG">
    <ion-grid class="padding-0">
        <ion-grid class="padding-0">
            <ion-row class="header">
                <ion-row class="margin-auto">
                    <ion-col>
                        <h1 class="ion-margin-top">Profil</h1>
                    </ion-col>
                </ion-row>
            </ion-row>
        </ion-grid>
    </ion-grid>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-avatar>
                <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-item lines="none">
            <ion-label class="ion-text-center">
                A rejoint la communauté depuis le {{dateInscription}}
            </ion-label>
        </ion-item>
    </ion-grid>
    <ion-grid>
        <ion-row class="vertical-align-content">
            <!-- le nombre d'abonnés est masqué pour le moment -->
            <ion-col class="ion-margin-start ion-margin-end" *ngIf="supprimeMoiPlusTard">
                <div>
                    <ion-icon size="small" class="ion-margin-end" name="heart-outline"></ion-icon>
                    <p>23 abonnés</p>
                </div>
            </ion-col>
            <ion-col class="ion-justify-content-center">
                <ion-item lines="none">
                    <ion-icon size="small" class="ion-margin-end" name="folder-outline"></ion-icon>
                    <ion-label size="small">{{countFT}} / {{limitFiches}} FT</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item lines="none" [disabled]="true">
                    <ion-label color="primary">Statut : {{connecte}}</ion-label>
                    <ion-toggle  [(ngModel)]="toggleConnecte" (ionChange)="connection()"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr>
    <ion-grid>
        <ion-button expand="block" class="btn_Large_Thim">
            VOIR LES OPTIONS DE MISE A NIVEAU
        </ion-button>
    </ion-grid>
    <hr>
    <ion-grid>
        <ion-row id="cvContaint" >
            <ion-toolbar>
                <ion-title style="height: 50px;">EXPERIENCE</ion-title>
            </ion-toolbar>
            <ion-button expand="full" fill="outline" color="secondary">
                <ion-icon class="ion-padding-end" name="add-circle-outline"></ion-icon>
                <ion-label color="primary" class="ion-margin-left">Ajouter une expérience</ion-label>
            </ion-button>
            <ion-toolbar>
                <ion-title style="height: 50px;">FORMATION</ion-title>
            </ion-toolbar>
            <ion-button expand="full" fill="outline" color="secondary">
                <ion-icon class="ion-padding-end" name="add-circle-outline"></ion-icon>
                <ion-label color="primary" class="ion-margin-left">Ajouter une formation</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>