.header {
    background: #fff url("../../assets/Background/HeaderImg_red.jpg") no-repeat center center / cover;
    height: 68px;
    padding: 0px;
}

.header h1 {
    font-size: 1rem;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

.margin-auto {
    margin: auto;
}

ion-button {
    font-size: 13px;
    --border-radius: 5px;
    color: white;
}

.padding-0 {
    padding: 0px;
}

ion-toolbar {
    height: 50px;
    --background: #F03434;
}

ion-toolbar ion-title {
    height: 50px;
    color: white;
}


.buttonColor {
    color: #329295;
}

ion-label {
    font-size: 0.9em !important;
    --ion-font-family: "Roboto" !important;
    src: url("./../../assets/Fonts/Roboto/Roboto-Black.ttf") format("truetype") !important;
}

ion-icon {
    font-size: 30px;
}

ion-avatar {
    margin: auto;
}

#cvContaint {
    margin-top: 5%;
}

#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 15%;
}

#container strong {
    font-size: 18px;
    line-height: 26px;
}

.avatar {
    text-align: center;
    left: 0;
    right: 0;
    top: 15%;
}

.vertical-align-content>* {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

:host {
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}