<ion-header>
    <ion-toolbar style="height: 100%; --border-width: 0;">
        <ion-row class="ion-align-items-start ">
            <!-- <ion-col size="4" class="ion-margin-left " style="padding: 0;">
                <ion-button (click)="segmentChanged('toutesBoolean')" buttonType="string" [style]="toutesBoolean ? cssButtonSelect : cssButtonSelectNo" style=" --background: transparent; font-size: 14px;margin: 0 auto;">
                    Toutes
                </ion-button>
            </ion-col> -->
            <ion-col size="6" style="padding: 0;" class="boutonheader">
                <ion-button [disabled]="disabledplat" (click)="segmentChanged('platsBoolean')" 
                buttonType="string" [style]="platsBoolean ? cssButtonSelect : cssButtonSelectNo" style="--background: transparent; font-size: 14px;margin: 0 auto;">
                    Plats
                </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-margin-right" style="padding: 0;" class="boutonheader" >
                <ion-button (click)="segmentChanged('prepaBoolean')" 
                buttonType="string" [style]="prepaBoolean ? cssButtonSelect : cssButtonSelectNo" style="--background: transparent; font-size: 14px;margin: 0 auto;">
                    Préparations
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-grid style="padding: 0;">

    <!-- Toutes les fiches réunis -->
    <!-- <ion-virtual-scroll *ngIf="toutesBoolean" [items]="ficheTechniquesAll" approxItemHeight="60px" [headerFn]="separateLetter" >
        <ion-item-divider *virtualHeader="let header" class="dividerLettre"     >
            <ion-label>
                {{ header }}
            </ion-label>
        </ion-item-divider>

        <ion-item lines="none" class="list" *virtualItem="let fiche"  >
            <ion-icon *ngIf="fiche.type==='Préparation'" slot="start" src="../../../assets/icon/icon-prep.svg" (click)="openFiche(fiche)"></ion-icon>
            <ion-icon *ngIf="fiche.type==='Plat'" slot="start" src="../../../assets/icon/icon-plat.svg" (click)="openFiche(fiche)"></ion-icon>
            <ion-label class="text" (click)="openFiche(fiche)">
                <h2 class="ficheElementTable">{{fiche.nom}}</h2>
                <p class="livreNom"> {{fiche.livre}}</p>
            </ion-label>
            <ion-icon slot="end" src="../../assets/icon/icon-ellipsis.svg" style="color:black" (click)="openPopover($event, fiche)"></ion-icon>
        </ion-item>
    </ion-virtual-scroll> -->
    <!-- Les fiches préparation -->
    <ion-virtual-scroll *ngIf="prepaBoolean" [items]="prepa" approxItemHeight="60px" [headerFn]="separateLetter">
        <ion-item-divider *virtualHeader="let header" class="dividerLettre">
            <ion-label>
                {{ header }}
            </ion-label>
        </ion-item-divider>
        <ion-item lines="none"  *virtualItem="let fichePrepa">
            <ion-icon slot="start" src="../../../assets/icon/icon-prep.svg" (click)="openFiche(fichePrepa)" >
            </ion-icon>
            <ion-label class="text" (click)="openFiche(fichePrepa)" >
                <h2 class="ficheElementTable">{{fichePrepa.nom}}</h2>
                <p class="livreNom"> {{fichePrepa.livre}}</p>
            </ion-label>
            <ion-icon slot="end" src="../../assets/icon/icon-ellipsis.svg" style="color:black" (click)="openPopover($event, fichePrepa)">
            </ion-icon>
        </ion-item>
    </ion-virtual-scroll>
    <!-- Les fiches Plats -->
    <ion-virtual-scroll *ngIf="platsBoolean" [items]="plats" approxItemHeight="60px" [headerFn]="separateLetter">
        <ion-item-divider *virtualHeader="let header" class="dividerLettre">
            <ion-label>
                {{ header }}
            </ion-label>
        </ion-item-divider>

        <ion-item lines="none" class="list" *virtualItem="let fichePlat" >
            <ion-icon slot="start" src="../../../assets/icon/icon-plat.svg" (click)="openFiche(fichePlat)"></ion-icon>
            <ion-label class="text" (click)="openFiche(fichePlat)">
                <h2 class="ficheElementTable">{{fichePlat.nom}}</h2>
                <p class="livreNom"> {{fichePlat.livre}}</p>
            </ion-label>
            <ion-icon slot="end" src="../../assets/icon/icon-ellipsis.svg" style="color:black" (click)="openPopover($event, fichePlat)"></ion-icon>
        </ion-item>
    </ion-virtual-scroll>

    <!-- loader -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-grid>