<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="start">
            <ion-back-button style="color:#ffffff" text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title style="color:#ffffff" class="pLR50">{{fiche.nom}}</ion-title>
        <ion-buttons slot="end">
            <ion-back-button style="color:#ffffff" text="" icon="pencil"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="background:#ffffff">
        <!-- <ion-row>
      <ion-col>
        <ion-button class="circleButton">
          test
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="circleButton">
          test
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="circleButton">
          test
        </ion-button>
      </ion-col>
    </ion-row> -->
        <ion-row>
            <ion-col size="6">
                <ion-list>
                    <ion-item lines="none">
                        <p>{{date}}</p>
                    </ion-item>
                    <ion-item lines="none">
                        <p>{{fiche.poste}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="6">
                <ion-list>
                    <ion-item lines="none">
                        <p>{{userNom}} {{prenom}}</p>
                    </ion-item>
                    <ion-item lines="none">
                        <p>{{fiche.produitRef.produit}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr>
    <ion-grid style="background:#ffffff">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item-divider class="list" (click)="showDenrees()">
                        <ion-label>
                            Denrées
                        </ion-label>
                        <ion-icon slot="end" [name]="chevronDenreesOn"></ion-icon>
                    </ion-item-divider>
                    <div [hidden]="denreesDisabled">
                        <ion-grid [hidden]="tableau1">
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Nature
                                    </ion-label>
                                </ion-col>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Unité
                                    </ion-label>
                                </ion-col>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Quantité
                                    </ion-label>
                                </ion-col>
                                <!-- <ion-col class="ion-text-center">
                  <ion-icon color="primary" size="small" (click)="addProduit()" name="add-circle-outline"></ion-icon>
                </ion-col> -->
                            </ion-row>
                            <ion-row *ngFor="let denree of denrees; let i = index">
                                <ion-col class="ion-text-center">{{denree.produit}}</ion-col>
                                <ion-col class="ion-text-center"> {{denree.unite}}</ion-col>
                                <ion-col class="ion-text-center"> {{denree.quantite}}</ion-col>
                                <!-- <ion-col class="ion-text-center">
                  <ion-icon color="primary" size="small" name="trash-outline" (click)="deleteProduit(denree)"></ion-icon> 
                </ion-col> -->
                            </ion-row>
                        </ion-grid>
                        <ion-grid [hidden]="tableau2">
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Quantité
                                    </ion-label>
                                </ion-col>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Unité
                                    </ion-label>
                                </ion-col>
                                <ion-col class="ion-text-center">
                                    <ion-label size="large">
                                        Nature
                                    </ion-label>
                                </ion-col>
                                <!-- <ion-col class="ion-text-center">
                  <ion-icon color="primary" size="small" (click)="addProduit()" name="add-circle-outline"></ion-icon>
                </ion-col> -->
                            </ion-row>
                            <ion-row *ngFor="let denree of denrees; let i = index ">
                                <ion-col class="ion-text-center"> {{denree.quantite}}</ion-col>
                                <ion-col class="ion-text-center"> {{denree.unite}}</ion-col>
                                <ion-col class="ion-text-center">{{denree.produit}}</ion-col>
                                <!-- <ion-col class="ion-text-center">
                  <ion-icon color="primary" size="small" name="trash-outline" (click)="deleteProduit(denree)"></ion-icon>
                </ion-col> -->
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr/>
    <ion-grid>
        <ion-row>
            <ion-item lines="none" color="transparent">
                <ion-label class="ion-text-wrap">
                    {{fiche.descriptionTechniques}}
                </ion-label>
            </ion-item>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" color="secondary" (click)="openModalLivre()">
            Sauvegarder
        </ion-button>
    </ion-toolbar>
</ion-footer>