<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon color="primary" size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>Quantité ingredient : </ion-label>
          <ion-input name="newQuantite" type="texte" class="ion-text-center" id="qte" placeholder="Qté"
            [(ngModel)]="newQuantite" (keyup)="onKey($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="secondary" (click)="ajoutFiche()" class="Btn_Validate" type='submit'>
          AJOUTER LA PREPARATION
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>