<ion-content [fullscreen]="true" class="backround-login">
  <form [formGroup]="loginform" (ngSubmit)="onSubmitSigninForm()">
  <ion-grid class="login-grid">
    <ion-row class="m-top-100">
      <ion-col>
          <div class="ion-text-center">
            <ion-text class="label-bienvenue" id="#bienvenu">
              Bienvenue
            </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="errorBox">
      <ion-col>
        <div [hidden]="!errorLogin" class="login-error ion-text-center">
          <ion-icon name="earth-sharp"></ion-icon>
          <br/>
          <ion-text>Votre identifiant ou votre mot de passe est incorrect. </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="ion-margin-top">
        <div>
          <ion-item [style]="errorLogin ? colorA : colorB">
            <ion-input name="email" type="email" placeholder="votre@email.com" formControlName="email" required ></ion-input>
          </ion-item>
        </div>
        <div class="ion-margin-top">
          <ion-item [style]="errorLogin ? colorA : colorB">
            <ion-input name="password" type="password" placeholder="Mot de passe" formControlName="password" required ></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="font-check ion-text-center">
        <div>
          <ion-text>Mot de passe oublié ? </ion-text>
        </div>
        <div>
          <ion-text> Pas enregistré ? <span id="creer-compte" (click)="creerUtilisateur()" style="font-weight: bold;">Créer un compte</span></ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <div>
          <ion-button class="btn-connexion" id="submit" type="submit"  expand="full" shape="round"><span>CONNEXION</span></ion-button>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-4>
        <ion-button color="primary" expand="block">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button color="danger" expand="block">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button color="light" expand="block">
            <ion-icon name="logo-linkedin"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</form>
</ion-content>