
.header h1{
    font-size: 1rem;
    margin-top:15px;
    font-weight: bold;
    color:white;
}
.margin-auto {
    margin:auto;
}
ion-button{
    font-size: 13px;
    --border-radius: 5px;
    color:white;
}
.padding-0 {
    padding:0px;
}
  
#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 15%;
  }
  
  #container strong {
    font-size: 18px;
    line-height: 26px;
  }