<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <div id="container" class="ion-margin">
      <strong>{{titre}}</strong>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-divider>

  </ion-item-divider>
  <div class="ion-padding-top">
    <ion-item button (click)="buttonClick('ecran')" detail="false">
      <ion-icon color="secondary" name="person-outline" class="ion-padding-end"></ion-icon>
      <ion-label color="secondary">
        Ecran par défaut
      </ion-label>
      <ion-icon color="secondary" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="buttonClick('langue')" detail="false" [disabled]="true">
      <ion-icon color="secondary" name="settings-outline" class="ion-padding-end"></ion-icon>
      <ion-label color="secondary">
        Langues
      </ion-label>
      <ion-icon color="secondary" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="buttonClick('fond')" detail="false">
      <ion-icon color="secondary" name="information-circle-outline" class="ion-padding-end"></ion-icon>
      <ion-label color="secondary">
        Apparence
      </ion-label>
      <ion-icon color="secondary" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="buttonClick('fiche')" detail="false">
      <ion-icon color="secondary" name="help-circle-outline" class="ion-padding-end"></ion-icon>
      <ion-label color="secondary">
        Fiche technique
      </ion-label>
      <ion-icon color="secondary" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="buttonClick('notification')" detail="false">
      <ion-icon color="secondary" name="information-circle-outline" class="ion-padding-end"></ion-icon>
      <ion-label color="secondary">
        Notifications
      </ion-label>
      <ion-icon color="secondary" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
</ion-content>