#container {
  text-align: center;
  left: 0;
  right: 0;
  top: 15%;
}

#container strong {
  font-size: 18px;
  line-height: 26px;
}

.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.marginTop24px {
  margin-top: 15%;
}
ion-toolbar {
  height: 100%;
}
ion-header {
  height: 68px;
}
