
.carre {
  height: 100px;
  background-color: #7c7c7c;
  color: white;
}

.iconAdd{
  height: 48px;
  width: 48px;
}


.carreAjout {
  border: #FF4A4A;
  --border-radius: 32px;
  height: 64px;
  width: 64px;
  --background: #FF4A4A;
  --background-activated: #FF4A4A;
}

.listLivre{
    height: 100%;
    overflow-y: scroll;
    padding: 0px;
}

.listLivre ion-row{
  padding-left: 15px;
  padding-right: 15px;
}

.ion-list-size{
    max-height: 450px;
    overflow-y: scroll;
  }
.listFT{
    max-height: 300px;
}  
.list{
    
  --background: #F1F9FF;
  color: #2699FB;
}

ion-item-divider ion-label {
  color: white;
  font-size: 0.8rem;
  --ion-font-family: "Roboto" !important;
    src: url("../../../assets/Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
ion-item-divider ion-icon {
  color: white;
  font-size: 1rem;
  margin-right: 20px;
}

