<div *ngIf="!ficheByLivre">
  <ion-list class="listLivre">
    <ion-item-group>
      <ion-item-divider color="secondary" (click)="showListeLivre('maBibliotheque')">
        <ion-label>Ma bibliothèque</ion-label>
        <ion-icon slot="end" [name]="chevronBibliotheque"></ion-icon>
      </ion-item-divider>
      <ion-row *ngIf="bibliotheque" >
        <ion-col size="4" class="ion-text-center ion-padding-vertical">
           <ion-button class="carreAjout"  (click)="addLivre()">   <!--[routerLink]="['livres/creation-livres']" -->
              <ion-icon  class="iconAdd" src="../../../assets/icon/icon-add.svg" color="white"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="4" *ngFor="let livre of livresPerso; let i = index">
          <ion-button class="carre" color="medium" (click)="openLivre(livre)">
            <ion-label class="ion-text-wrap">
              {{livre.nom}}
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-item-divider color="secondary">  <!-- disabled (click)="showListeLivre('reference')"> -->
        <ion-label>
          Mes livres de référence
        </ion-label>
        <ion-icon slot="end" [name]="chevronLivreRef"></ion-icon>
      </ion-item-divider>
      <ion-row *ngIf="reference">
        <ion-col size="4">
          <ion-button class="carreAjout" [routerLink]="['livres/creation-livres']">
            <ion-icon  class="iconAdd"></ion-icon>
          </ion-button>
      </ion-col>
        <ion-col size="4" *ngFor="let livre of livreRef; let i = index">
          <ion-button class="carre" color="medium" (click)="openLivre(livre)">
            <ion-label>
              {{livre.nom}}
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-item-divider class="list" (click)="showListeLivre('achat')" [hidden]="true">
        <ion-label>
          Mes livre achetés
        </ion-label>
        <ion-icon slot="end" [name]="chevronLivreAchat"></ion-icon>
      </ion-item-divider>
      <ion-row *ngIf="achat">
        <ion-col size="4">
          <ion-button class="carre">
            <ion-icon name="add-outline" color=primary></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" *ngFor="let livre of livreAchat; let i = index">
          <ion-button id="carre" (click)="openLivre(livre)">
            <ion-label>
              {{livre.nom}}
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-list>
</div>

<!-- <app-ft-by-livre *ngIf="ficheByLivre"></app-ft-by-livre> -->