  .login-grid {
      padding: 25px;
  }
  
  .backround-login {
      --background: #fff url("./../../../assets/Background/HomeBG_iPhone.jpg") no-repeat center center / cover;
  }
  
  .errorBox {
      --margin-top: var(--ion-margin, 100px);
      margin-top: var(--ion-margin, 100px);
      height: 50px;
  }
  
  .login-error {
      --margin-bottom: var(--ion-margin, 20px);
      margin-bottom: var(--ion-margin, 20px);
      color: white;
      font-weight: bold;
      --ion-font-family: "QuickKiss";
      src: url("./../../../assets/Fonts/QuickKiss/QuickKiss.ttf") format("truetype");
      font-size: 0.8rem;
  }
  
  .login-error ion-icon {
      font-size: 20px;
  }
  
  .m-top-45 {
      --margin-top: var(--ion-margin, 45px);
      margin-top: var(--ion-margin, 45px);
  }
  
  .m-top-100 {
      --margin-top: var(--ion-margin, 100px);
      margin-top: var(--ion-margin, 100px);
  }
  
  .font-check {
      color: white;
      --ion-font-family: "QuickKiss";
      src: url("./../../../assets/Fonts/QuickKiss/QuickKiss.ttf") format("truetype");
      font-size: 0.9rem;
  }
  
  .round {
      border-radius: 15%!important;
  }
  
  .btn-connexion {
      --padding-top: 25px;
      --padding-bottom: 25px;
      --background-activated: #FF4A4A;
  }
  
  #creer-compte {}