
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            Partager cette fiche
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="form-control">
          <ion-input name="email" type="email"  id="titre" placeholder="Adresse mail"
            [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item [hidden]="true" lines="none" class="form-control ion-margin-top">
          <ion-input type="texte"  id="titre" placeholder="Message (facultatif)"
            [(ngModel)]="newMessage"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-button  (click)="partageFiche()" class="validateButton">
          <ion-icon src="../../../assets/icon/icon-yes.svg" style="color:#00AF2F"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="partageFiche()" class="cancelButton">
          <ion-icon src="../../../assets/icon/icon-no.svg" color="secondary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>