<ion-header>
  <ion-toolbar class="headerFiche">
    <ion-buttons slot="start">
      <ion-back-button style="color:#ffffff" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="pLR50 titreFiche">{{plat.nom}}</ion-title>
    <div *ngIf="ficheUpdate">
      <ion-title>
        <ion-input class="pLR50 titreFiche" placeholder="{{plat.nom}}" type="text" [(ngModel)]="newNom" name="title">
        </ion-input>
      </ion-title>
    </div>
    <ion-buttons slot="end" *ngIf="!showButtonUpdate">
      <ion-icon style="color:#ffffff" icon="pencil" (click)="showUpdateFiche()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showButtonUpdate">
      <ion-icon style="color:#ffffff" icon="arrow-redo-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="background:#ffffff">
    <ion-row>
      <ion-col class="ion-padding-horizontal" style="padding: 0;">
        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" src="../../../assets/icon/icon-calendar.svg" class="iconFiche"></ion-icon>
            <p class="policeFiche">{{date}}</p>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" src="../../../assets/icon/icon-plat.svg" class="iconFiche"></ion-icon>
            <p class="policeFiche">{{plat.poste}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col class="ion-padding-horizontal" style="padding: 0;">
        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" src="../../../assets/icon/icon-profile.svg" class="iconFiche"></ion-icon>
            <p class="policeFiche">{{userNom}} {{prenom}}</p>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" src="../../../assets/icon/icon-couverts.svg" class="iconFiche"></ion-icon>
            <p class="policeFiche">{{plat.portion}} Couverts</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="background:#ffffff">
    <ion-row>
      <ion-col>
        <ion-item-divider style="background:#ffffff">
          <ion-label class="classTitreSection">
            Description commercial
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label class="descTexteCss ion-text-wrap">
            {{plat.descriptionCommercial}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid style="background:#ffffff">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-divider class="list " (click)="showDenrees()">
            <ion-label class="classTitreSection">
              Denrées
            </ion-label>
            <ion-icon slot="end" [name]="chevronDenreesOn"></ion-icon>
          </ion-item-divider>
          <div [hidden]="denreesDisabled">
            <ion-grid [hidden]="tableau1">
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Nature
                  </ion-label>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Unité
                  </ion-label>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Quantité
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-item-group *ngFor="let denree of newPlatDenrees | keyvalue; let i = index">
                <ion-item-divider (click)="denree.value.toggle=!denree.value.toggle" class="textDivider">
                  <ion-label>{{denree.key}}</ion-label>
                  <ion-icon slot="end"
                    [name]="!denree.value.toggle ? 'chevron-down-outline' : 'chevron-forward-outline'">
                  </ion-icon>
                </ion-item-divider>
                <div *ngIf="!denree.value.toggle">
                  <ion-row *ngFor="let value of denree.value; let i = index ">
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.produit}}
                      </ion-label>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.unite}}
                      </ion-label>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.quantite}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-item-group>
            </ion-grid>
          </div>
          <!-- deuxieme version du tableau -->
          <div [hidden]="denreesDisabled">
            <ion-grid [hidden]="tableau2">
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Quantité
                  </ion-label>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Unité
                  </ion-label>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-label size="large">
                    Nature
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-item-group *ngFor="let denree of newPlatDenrees | keyvalue; let i = index ">
                <ion-item-divider (click)="denree.value.toggle=!denree.value.toggle" class="textDivider">
                  <ion-label>{{denree.key}}</ion-label>
                  <ion-icon slot="end"
                    [name]="!denree.value.toggle ? 'chevron-down-outline' : 'chevron-forward-outline'">
                  </ion-icon>
                </ion-item-divider>
                <div *ngIf="!denree.value.toggle">
                  <ion-row *ngFor="let value of denree.value; let i = index ">
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.quantite}}
                      </ion-label>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.unite}}
                      </ion-label>
                    </ion-col>
                    <ion-col class="ion-text-center">
                      <ion-label class="classDenreeTableau">
                        {{value.produit}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-item-group>
            </ion-grid>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid *ngFor="let fiche of plat.fichePreparation; let i = index; let odd=odd; let even=even;"
    [ngClass]="{ odd: odd, even: even }">
    <ion-row>
      <ion-col [ngClass]="{ odd: odd, even: even }">
        <ion-row [ngClass]="{ odd: odd, even: even }">
          <ion-item-divider [ngClass]="{ odd: odd, even: even }" (click)="fiche.toggle=!fiche.toggle">
            <ion-label class="classTitreSection">
              {{i + 1}} - {{fiche.nom}}
            </ion-label>
            <ion-icon slot="end" [name]="fiche.toggle ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
          </ion-item-divider>
        </ion-row>
        <div *ngIf="fiche.toggle">
          <ion-row [ngClass]="{ odd: odd, even: even }">
            <ion-col [ngClass]="{ odd: odd, even: even }">
              <ion-list>
                <div *ngIf="!fiche.ficheDenreesToggle">
                  <ion-grid [hidden]="tableau1" [ngClass]="{ odd: odd, even: even }">
                    <ion-row *ngFor="let denree of fiche.denrees; let i = index" [ngClass]="{ odd: odd, even: even }">
                      <ion-col class="ion-text-center">
                        <ion-label class="classDenreeTableau">
                          {{denree.produit}}
                        </ion-label>
                      </ion-col>
                      <ion-col class="ion-text-start" size="2">
                        <ion-label class="classDenreeTableau">
                          {{denree.unite}}
                        </ion-label>
                      </ion-col>
                      <ion-col class="ion-text-start">
                        <ion-label class="classDenreeTableau">
                          {{denree.quantite}}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <ion-grid [hidden]="tableau2" [ngClass]="{ odd: odd, even: even }">
                    <ion-row *ngFor="let denree of fiche.denrees; let i = index" [ngClass]="{ odd: odd, even: even }">
                      <ion-col class="ion-text-center">
                        <ion-label class="classDenreeTableau">
                          {{denree.quantite}}
                        </ion-label>
                      </ion-col>
                      <ion-col class="ion-text-start" size="2">
                        <ion-label class="classDenreeTableau">
                          {{denree.unite}}
                        </ion-label>
                      </ion-col>
                      <ion-col class="ion-text-start">
                        <ion-label class="classDenreeTableau">
                          {{denree.produit}}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-margin">
              <ion-item lines="none" color="trensparent">
                <ion-label class="descTexteCss ion-text-wrap">
                  {{fiche.descriptionTechniques}}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr *ngIf="plat.descriptionTechnique">
  <ion-grid *ngIf="plat.descriptionTechnique">
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label class="classTitreSection">
            Description technique
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none" color="trensparent">
          <ion-label class="descTexteCss ion-text-wrap">
            {{plat.descriptionTechnique}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>