<ion-content [fullscreen]="true" class="BG">
  <ion-grid class="padding-0">
    <ion-grid class="padding-0">
      <ion-row class="header">
        <ion-row class="margin-auto">
          <ion-col>
            <h1 class="ion-margin-top">CHEFSBOOK</h1>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <app-parametre titre="Paramètres"></app-parametre>
  <ion-item>
    <ion-input [(ngModel)]="idUser"></ion-input>
  </ion-item>
  <ion-button color="danger" (click)="deleteUser()">Supprimer compte</ion-button>
</ion-content>
