<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="paddingL15">
            <ion-back-button style="color:#000000" text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{titre}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-item-divider color="secondary"></ion-item-divider>

<ion-content class="ion-text-justify">
    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Introduction
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Dans le cadre de son activité, la société DAHU, dont le siège social est situé au 2 square Jean Falck,
                75010 Paris, est amenée à collecter et à traiter des informations dont certaines sont qualifiées de
                “données personnelles”. DAHU attache une grande importance au respect de la vie privée, et n’utilise que
                des données de manière responsable et confidentielle et dans une finalité précise.
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Données personnelles
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Sur le site web www.chefsbookapp.fr et sur l’application mobiles Chefsbook, il y a 2 types de données
                susceptibles d’être recueillies :
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-label class="policeFichecreat">
                - Les données transmises directement
                Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien par
                contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom » et
                « email ».
            <br>
                - Les données collectées automatiquement
                Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de type
                « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre
                type et version de navigateur. La technologie utilisée est le cookie.
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Utilisation des données
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou
                dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées de forme
                anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous permettent de mesurer
                l’audience de notre site web, les consultations et les éventuelles erreurs afin d’améliorer constamment
                l’expérience des utilisateurs. Ces données sont utilisées par DAHU, responsable du traitement des
                données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins que celles détaillées
                ci-dessus.<br>

                Toutefois, si nous sommes amenés par voies légales à utiliser ces informations pour répondre à une
                enquête en cours ou pour protéger nos utilisateurs, nous le ferons.
                Dans ce cas nous vous informerons de la situation.
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Base légale
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce
                consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Durée de conservation
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Les données seront sauvegardées durant une durée maximale de 3 ans après résiliation du compte.
            </ion-label>
        </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Cookies
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Google Analytics pour WordPress : Web analytics <br>
                GDPR : Permet de garder en mémoire le fait que vous acceptez les cookies afin de ne plus vous importuner
                lors de votre prochaine visite.
            </ion-label>
        </ion-col>
    </ion-row> -->

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Évolutions de la Politique de Confidentialié
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Nous nous réservons le droit de faire évoluer et de changer notre Politique de Confidentialité.<br>

                Toutes modifications importantes de ce contrat vous seront notifiés.
                Nous vous demanderons alors à nouveau votre consentement.<br>

                L’utilisation continue de l’application après les modifications signifiera dès lors l’acceptation de la
                nouvelle politique.
                Si vous êtes en désaccord avec les évolutions vous avez la possibilité de supprimer votre compte.
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Vos droits concernant les données personnelles
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Conformément à la loi du 6 janvier 1978 (article 27), dite “Informatique et libertés”, vous disposez d’un droit d’accès et de rectification aux données vous concernant.
                Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.
                Pour l’exercer, adressez-vous au Délégué à la protection des données.
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h2 class="titreModal">
                Contact délégué à la protection des données
            </h2>
            <br>
            <ion-label class="policeFichecreat">
                Hugo Chaise <br>
                2 square Jean Falck, 75010 Paris<br>
                Contact@chefsbookapp.fr
            </ion-label>
        </ion-col>
    </ion-row>
</ion-content>