<ion-content>
    <ion-row>
        <ion-col>
            <ion-item>
                <p>
                    <strong class="notificationTable">{{notification.prenomProprietaire}}
                    {{notification.nomProprietaire}}</strong> a partagé avec vous : <br> la {{notification.type}}
                    <strong class="notificationTable">{{notification.nom}}</strong>
                </p>
            </ion-item>
        </ion-col>
    </ion-row>
    <hr>
    <ion-row>
        <ion-col>
            <ion-item lines="none" button (click)="supprimer()">
                <ion-icon class="iconModalFiche" slot="start" src="../../../assets/icon/icon-delete.svg"></ion-icon>
                <ion-label class="labelModalFiche">
                    Supprimer
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>