ion-item-divider ion-label {
    color: white;
    font-size: 0.8rem;
    --ion-font-family: "Roboto-Black" !important;
}
ion-item-divider ion-icon {
    color: white;
    font-size: 1rem;
    margin-right: 20px;
}
