ion-header h1 {
    font-size: 1rem;
    margin-top: 15px;
    color: white;
}

ion-col h1 {
    font-size: 1rem;
    margin-top: 15px;
    color: white;
}

.margin-auto {
    margin: auto;
}

ion-button {
    font-size: 13px;
    --border-radius: 5px;
    color: white;
}

.padding-0 {
    padding: 0px;
}

.noteSize-s {
    font-size: 14px;
}

img {
    width: 50px;
    height: 50px;
}

.notifBlack {
    color: black;
}

.notifGrey {
    color: grey;
}