/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@import "./theme/variables.scss";

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root[mode="ios"] {
    $font-family-ios-base: 'Roboto', san-serif !default;
}

:root {
    --ion-color-primary: #b73636;
    --ion-color-secondary: #f03434;
    // autre couleur
    --ion-toolbar-background: transparent;
}

hr {
    border-top: 0.5px solid rgb(0, 0, 0, 0.1) !important;
    margin: 0px !important;
}

ion-header {
    min-height: 64px;
}

.header {
    min-height: 64px;
    --background: none;
    background: url("./assets/Background/HeaderImg_Black.jpg") center center / cover;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --color: #ffffff;
}

.header h1 {
    font-size: 1rem;
    margin-top: 15px;
    font-weight: bold;
    color: white;
}

.headerFiche {
    height: 100px;
    padding: 0px;
    --background: none;
    background: url("./assets/Background/HeaderImg_Black.jpg") center center / cover;
}

.iconUpdate {
    color: #ffffff;
    font-size: 24px;
    padding-right: 15px;
}

.addIconCreat {
    font-size: 14px;
    background-color: #FF3D51;
    color: white;
    --ionicon-stroke-width: 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 12px;
    padding: 6px
}

.iconFicheTrash {
    font-size: 20px;
    --ionicon-stroke-width: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.iconFiche {
    font-size: 20px;
    color: #7f7f7f;
    --ionicon-stroke-width: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.titreModal {
    font-family: Roboto !important;
    font-size: 16px;
    color: #f03434 !important;
}

.iconeProfil {
    font-size: 24px;
    color: #7f7f7f;
    --ionicon-stroke-width: 16px;
}

.boutonheader {
    text-align: center;
}

.buttonBack {
    padding-left: 15px;
}

.policeFiche {
    font-weight: 400;
    font-family: Roboto !important;
    font-size: 12px !important;
    color: #7f7f7f !important;
    --placeholder-opacity: 1 !important;
}

.policeFichecreat {
    font-weight: 400;
    font-family: Roboto !important;
    font-size: 14px !important;
    color: #7f7f7f !important;
    --placeholder-opacity: 1 !important;
}

.classTitreSection {
    font-weight: 400;
    font-family: Roboto !important;
    font-size: 14px !important;
    color: #f03434 !important;
}

.classTitreDenreeTableau {
    font-family: Roboto !important;
    font-size: 14px !important;
    --color: #393939 !important;
}

.classDenreeTableau {
    font-family: Roboto !important;
    font-size: 14px !important;
    color: rgb(0, 0, 0, 0.5) !important;
}

.dividerLettre {
    --background: #ff4a4a;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.textDivider {
    --background: #e6e6e6;
    color: #7f7f7f;
    font-size: 14px;
    font-weight: 500;
}

.descCss {
    font-weight: 400;
    font-family: Roboto !important;
    --color: #ff4a4a !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.descTexteCss {
    font-weight: 400;
    font-family: Roboto !important;
    --color: #7f7f7f !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.paddingL15 {
    padding-left: 15px;
}

.toolbar {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --color: #000000;
}

ion-content {
    height: 100%;
    --background: #ffffff;
}

ion-segment {
    .fiche {
        --backgroud: #fff;
    }
}

.listLivre {
    height: 100%;
    overflow-y: scroll;
}

.ion-list-size {
    max-height: 450px;
    overflow-y: scroll;
}

.listFT {
    max-height: 265px;
    overflow-y: scroll;
}

.list {
    --background: #fff;
}

.padding-0 {
    padding: 0px;
}

.rectangle {
    // height: 100px;
    // width: 90%;
    // --background: #F1F9FF;
    // margin-top: 5%;
    // margin-left: 5%;
    // margin-right: 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    --background: #f03434;
}

.sc-ion-modal-ios-h:first-of-type {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
}

.sc-ion-modal-md-h:first-of-type {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
}

.sc-ion-alert-ios-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
}

.sc-ion-alert-md-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.6);
}

.titrePage {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.pLR50 {
    padding-left: 50px;
    padding-right: 50px;
}

.titreFiche {
    font-family: Roboto;
    font-size: 20px;
    color: white;
}

.circleButton {
    width: 32px;
    height: 32px;
    --border-radius: 16px;
}

ion-avatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.centerTable {
    margin: 10px 10px 10% 10%;
}

.Btn {
    --background: #b73636;
}

.Btn_Update {
    --background: linear-gradient(#146456, #169275);
}

.btn_Large_Thim {
    --background: linear-gradient(#169275, #146456);
}

.Btn_Validate {
    --background: #00af2f;
}

.Btn_Cancel {
    --background: #f03434;
}

.Btn_AddBook {
    --background: linear-gradient(#ff512e, #ff4444);
}

.Btn_ToggleOff {
    --background: #4e4e4e;
}

.Btn_ToggleOn {
    --background: #f03434;
}

.Icon_Active {
    --background: #f03434;
}

.Icon_Idle {
    --background: #000000;
    opacity: 0.3;
}

.Header_Creation {
    --background: linear-gradient(#ff512e, #ff4444);
}

.Header_Main {
    //(with image)
    --background: linear-gradient(#ff512e, #ff4444);
    opacity: 0.8;
}

.Header_Title {
    --background: #ff4a4a;
}

.backround-login {
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    --background: none;
    background: url("./assets/Background/HomeBG_iPhone.jpg") no-repeat center center / cover fixed;
}

.login-error {
    --margin-bottom: var(--ion-margin, 20px);
    margin-bottom: var(--ion-margin, 20px);
    color: red;
    font-family: Roboto !important;
    font-size: 0.8rem;
}

.m-top-45 {
    --margin-top: var(--ion-margin, 45px);
    margin-top: var(--ion-margin, 45px);
}

.label-bienvenue {
    color: white;
    font-family: "QuickKiss" !important;
    font-size: 3rem;
}

.m-top-100 {
    --margin-top: var(--ion-margin, 100px);
    margin-top: var(--ion-margin, 100px);
}

.font-check {
    color: white;
    font-family: "QuickKiss";
    font-size: 0.9rem;
}

.iconeSize {
    height: 30px;
    width: 30px;
}

.my-custom-modal-css .modal-wrapper {
    position: absolute;
    display: block;
}

.modal-Notif-css .modal-wrapper {
    position: absolute;
    display: block;
    height: 30%;
    top: 70%;
    width: 100%;
}

.sc-ion-modal-md-h:last-of-type {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

ion-modal {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

.sc-ion-modal-ios-h:last-of-type {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

.addProduit-custom-modal-css .modal-wrapper {
    position: absolute;
    display: block;
}

.choix-du-livre-modal-css .modal-wrapper {
    position: absolute;
    display: block;
}

.ficheElementTable {
    font: 500 14px/25px Roboto !important;
    letter-spacing: normal !important;
    margin: 0px !important;
}

.notificationTable {
    font: 400 17px/25px Roboto !important;
    letter-spacing: normal !important;
    margin: 0px 0 5px !important;
}

.labelModalFiche {
    font: 500 14px/25px Roboto !important;
    color: black;
}

.iconModalFiche {
    font-size: 18px;
}

.modalTableBorder {
    border-bottom: 1px solid #dedede !important;
}

ion-toolbar {
    --min-height: 64px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}

ion-grid {
    padding: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}

.middleMinheight {
    --min-height: 44px !important;
}

ion-item[button] {
    pointer-events: visible !important;
}

.ellipsisHoriz {
    padding-top: 5px;
}