<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <div id="container" class="ion-margin">
      <strong>Apparence</strong>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark mode</ion-label>
      <ion-toggle (ionChange)="updateDarkMode()"></ion-toggle>
    </ion-item>
    <ion-button color="primary" ></ion-button>
  </ion-list>




</ion-content>
