<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="paddingL15">
            <ion-back-button style="color:#000000" text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ecran par défaut
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-item-divider color="secondary"></ion-item-divider>

<ion-content>
    <!-- choix de l'ecran par défaut a savoir : l'utilisateur souhaite pointer en premier lieu sur livre et non sur les fiches -->

    <ion-grid>

        <ion-radio-group [value]="ecran" [(ngModel)]="ecran">
            <ion-item lines="none">
                <ion-label>Mes fiches</ion-label>
                <ion-radio slot="end" value="fiches" (click)="onChange('fiches')"></ion-radio>
            </ion-item>
            <hr>
            <ion-item lines="none">
                <ion-label>Mes livres</ion-label>
                <ion-radio slot="end" value="livres" (click)="onChange('livres')"></ion-radio>
            </ion-item>
            <hr>
            <ion-item lines="none" disabled="false">
                <ion-label>Communauté</ion-label>
                <ion-radio slot="end" value="communaute" (click)="onChange('communaute')"></ion-radio>
            </ion-item>
            <hr>
            <ion-item lines="none">
                <ion-label>Profil</ion-label>
                <ion-radio slot="end" value="profil" (click)="onChange('profil')"></ion-radio>
            </ion-item>
            <hr>
            <ion-item lines="none">
                <ion-label>Recherche</ion-label>
                <ion-radio slot="end" value="recherche" (click)="onChange('recherche')"></ion-radio>
            </ion-item>
            <hr>
        </ion-radio-group>
    </ion-grid>


</ion-content>