<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="cancel()">
            <ion-icon color="secondary" size="large" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title class="titreModal">Choix du livre</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-row>
        <ion-col>
            <ion-select class="form-control" interface="popover" value="choixLivre" [(ngModel)]="choixLivre" placeholder="Choix du livre">
                <ion-select-option *ngFor="let livre of livres" [value]="livre">{{livre.nom}}</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" style="margin:0px" color="primary" type="submit" (click)="addLivre()">
                    Ajouter la fiche au livre
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>