<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425415146991-4k9mjqq95nluorrvcv2fu8bq7e6p6phh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425415146991-4k9mjqq95nluorrvcv2fu8bq7e6p6phh</string>
	<key>API_KEY</key>
	<string>AIzaSyAHAv2JYr-rw7s4UvB5nOJgvXqvWQIPJFA</string>
	<key>GCM_SENDER_ID</key>
	<string>425415146991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tana.starter</string>
	<key>PROJECT_ID</key>
	<string>chefsbook-test</string>
	<key>STORAGE_BUCKET</key>
	<string>chefsbook-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425415146991:ios:8032775fbd059cdd160a1a</string>
	<key>DATABASE_URL</key>
	<string>https://chefsbook-test.firebaseio.com</string>
</dict>
</plist>